body {
  background: #ffffff;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

body, form, div, p, a, img, h1, h2, h3, h4, h5, h6, table, table tr, table td {
  border: none;
  color: #41443f;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

input,
textarea,
select {
  outline: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

a {
  text-decoration: underline;
  outline: none;
}

a:hover {
  text-decoration: none;
}

h1, h2 {
  font-size: 20px;
  color: #545454;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.btn {
  font-size: 30px;
  font-weight: bold;
  display: block;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  background-color: #43a11b;
  border: 2px solid #ffffff;
  outline: none;
  cursor: pointer;
  padding: 30px 0;
}

.btn:hover {
  background-color: #27630e;
}

.mainer {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.head {
  background-image: url(../img/head_bg.png);
  background-position: center;
  background-size: cover;
  padding-bottom: 240px;
}

.head__title {
  color: #ffffff;
  font-size: 74px;
  font-weight: bold;
  text-align: center;
  line-height: 90px;
  margin-bottom: 64px;
}

.head__title-color {
  display: block;
  color: #f2b522;
}

.head__btn {
  max-width: 370px;
  width: 100%;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 150px;
}

.header--foot {
  margin-bottom: 0;
}

.header__menu {
  max-width: 530px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__link {
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  padding-bottom: 6px;
}

.header__link:hover {
  border-bottom: 2px solid #f2b522;
}

.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__phone-img {
  margin-right: 8px;
  width: 20px;
  height: 20px;
  display: block;
}

.header__phone-number {
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.advantages {
  background-color: #ffffff;
  position: relative;
  padding-bottom: 130px;
}

.grid-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 40px;
  position: absolute;
  top: -120px;
}

.block-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 120px;
}

.block-advantages:last-child {
  margin-right: 0;
}

.block-advantages__icon {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #5bb733;
  border: 10px solid #5cc32f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 30px;
}

.block-advantages__line {
  width: 22px;
  border-bottom: 2px solid #f2b522;
  margin-bottom: 22px;
}

.block-advantages__text {
  color: #41443f;
  font-size: 30px;
  text-transform: uppercase;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.wrap-adv {
  padding-top: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block-text {
  max-width: 570px;
  padding-top: 50px;
}

.block-text__desc {
  font-size: 30px;
  line-height: 40px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.block-text__desc-color {
  background-color: #4fa929;
  color: white;
  display: inline-block;
  padding: 0 10px;
  -webkit-transform: skewX(170deg);
          transform: skewX(170deg);
}

.form {
  background-image: url(../img/bg_form.png);
  background-position: center;
  background-size: cover;
  padding: 125px 0 110px;
  z-index: 100;
  position: relative;
}

.wrap-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-text {
  padding-top: 50px;
  font-size: 60px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  max-width: 470px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.callback {
  max-width: 370px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px 20px 35px;
  border-top: 10px solid #f2b522;
  background-color: #fff;
  height: 100%;
}

.callback__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 15px 20px 20px;
  background-color: #f1f1f1;
  margin-bottom: 10px;
  max-width: 325px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: inset 0px 3px 7px 3px #c0c0c0;
          box-shadow: inset 0px 3px 7px 3px #c0c0c0;
}

.callback__icon {
  display: block;
}

.callback__field {
  border: none;
  background-color: #f1f1f1;
  margin-left: 10px;
  font-size: 14px;
  font-weight: lighter;
}

.callback__submit {
  max-width: 325px;
  width: 100%;
  padding: 20px 0;
  -webkit-box-shadow: 0 0 20px 0 #d3d3d3;
          box-shadow: 0 0 20px 0 #d3d3d3;
}

.services {
  background-color: #f0f0f0;
  padding: 100px 0 60px;
  margin-top: -30px;
}

.services__title {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 70px;
}

.services__title::before {
  content: '';
  background-image: url(../img/line.png);
  position: absolute;
  top: 30px;
  left: 310px;
  height: 3px;
  width: 97px;
}

.services__title::after {
  content: '';
  background-image: url(../img/line.png);
  position: absolute;
  top: 30px;
  right: 310px;
  height: 3px;
  width: 97px;
}

.services__btn {
  max-width: 370px;
  width: 100%;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 20px 0 #d3d3d3;
          box-shadow: 0 0 20px 0 #d3d3d3;
}

.wrap-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10px;
}

.block-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 570px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.block-services__image {
  margin-right: 40px;
  min-width: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block-services__img {
  display: block;
}

.block-services__text {
  font-size: 25px;
  font-weight: lighter;
}

.rates {
  padding: 50px 0 25px;
  background-color: #fff;
}

.rates__title {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 20px;
}

.rates__title::before {
  content: '';
  background-image: url(../img/line.png);
  position: absolute;
  top: 30px;
  left: 300px;
  height: 3px;
  width: 97px;
}

.rates__title::after {
  content: '';
  background-image: url(../img/line.png);
  position: absolute;
  top: 30px;
  right: 300px;
  height: 3px;
  width: 97px;
}

.rates__subject {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 30px;
}

.rates__subject::before {
  content: '';
  background-image: url(../img/line.png);
  position: absolute;
  top: 30px;
  left: 200px;
  height: 3px;
  width: 97px;
}

.rates__subject::after {
  content: '';
  background-image: url(../img/line.png);
  position: absolute;
  top: 30px;
  right: 200px;
  height: 3px;
  width: 97px;
}

.rates__desc {
  text-align: center;
  font-size: 40px;
  margin-bottom: 35px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.rates__text {
  display: block;
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 110px;
}

.rates__text--foot {
  margin-bottom: 0;
}

.table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 0 20px 5px #e0e0e0;
          box-shadow: 0 0 20px 5px #e0e0e0;
  margin-bottom: 40px;
}

.table td {
  width: 170px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  border: none;
}

.table td.table__caption {
  font-size: 20px;
  font-weight: lighter;
}

.table tr {
  height: 85px;
  border: none;
}

.table tr:first-child {
  background-color: #e1e1e1;
}

.tabs {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
}

.tabs-nav {
  max-width: 775px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  padding-left: 14px;
  padding-right: 14px;
  margin: 0 auto;
}

.tabs-nav li {
  background-color: transparent;
  border: 2px solid #dcdcdc;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
  padding: 12px 40px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  display: block;
  cursor: pointer;
  text-transform: none;
  margin: 0 14px 25px;
}

.tabs-nav li:hover,
.tabs-nav li.active {
  border: 2px solid #f2b522;
  color: #000;
}

.tabs li.active {
  z-index: 3;
}

.tabs-box > div {
  display: none;
  padding: 10px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-animation: fade 0.5s linear;
  animation: fade 0.5s linear;
}

.tabs-box > .active {
  display: block;
  color: red;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.callback-form {
  max-width: 570px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px 20px 35px;
  border-top: 10px solid #f2b522;
  background-color: #fff;
  height: 100%;
}

.callback-form__left {
  max-width: 245px;
  margin-right: 30px;
}

.callback-form__left label {
  margin-left: 10px;
}

.callback-form__right {
  max-width: 250px;
  width: 100%;
}

.callback-form__right textarea {
  padding: 20px 15px 20px 20px;
  display: block;
  height: 125px;
  border: none;
  width: 100%;
  background-color: #f1f1f1;
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: inset 0px 3px 7px 3px #c0c0c0;
          box-shadow: inset 0px 3px 7px 3px #c0c0c0;
}

.callback-form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 15px 20px 20px;
  background-color: #f1f1f1;
  margin-bottom: 10px;
  max-width: 245px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: inset 0px 3px 7px 3px #c0c0c0;
          box-shadow: inset 0px 3px 7px 3px #c0c0c0;
}

.callback-form__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.callback-form__icon {
  display: block;
}

.callback-form__field {
  border: none;
  background-color: #f1f1f1;
  margin-left: 10px;
  font-size: 14px;
  font-weight: lighter;
}

.callback-form__submit {
  max-width: 250px;
  width: 100%;
  padding: 20px 0;
  -webkit-box-shadow: 0 0 20px 0 #d3d3d3;
          box-shadow: 0 0 20px 0 #d3d3d3;
}

.footer-form {
  background-image: url(../img/bg_footer-form.png);
  background-position: center;
  background-size: cover;
  padding: 120px 0 70px;
}

.wrap-footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-form-block {
  max-width: 370px;
  padding-top: 40px;
}

.footer-form-block__title {
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.footer-form-block__line {
  width: 138px;
  border-bottom: 3px solid #4a9c29;
  margin-bottom: 30px;
}

.footer-form-block__text {
  font-size: 45px;
  color: #fff;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.footer {
  background-image: url(../img/bg_footer.jpg);
  background-position: center;
  background-size: cover;
  padding: 30px 0 45px;
}

.footer__menu {
  max-width: 530px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__link {
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  font-weight: lighter;
  color: #ffffff;
}

.footer__link:hover {
  color: #3f802a;
}

.wrap-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.footer-text__desc {
  font-size: 30px;
  color: #fff;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.footer-text__desc-color {
  font-size: 30px;
  color: #f2b522;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.block-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-social__link {
  color: #fff;
  font-size: 22px;
  margin: 0 11px;
  -webkit-text-decoration: 0.3s;
          text-decoration: 0.3s;
  display: block;
}

.block-social__link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.callback-modal {
  display: none;
  width: 370px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px 20px 35px;
  border-top: 10px solid #f2b522;
  background-color: #fff;
}

.callback-modal__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 15px 20px 20px;
  background-color: #f1f1f1;
  margin-bottom: 10px;
  max-width: 325px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: inset 0px 3px 7px 3px #c0c0c0;
          box-shadow: inset 0px 3px 7px 3px #c0c0c0;
}

.callback-modal__icon {
  display: block;
}

.callback-modal__field {
  border: none;
  background-color: #f1f1f1;
  margin-left: 10px;
  font-size: 14px;
  font-weight: lighter;
}

.callback-modal__submit {
  max-width: 325px;
  width: 100%;
  padding: 20px 0;
  -webkit-box-shadow: 0 0 20px 0 #d3d3d3;
          box-shadow: 0 0 20px 0 #d3d3d3;
}

@media screen and (max-width: 1024px) {
  .header__phone-number {
    font-size: 18px;
  }
  .header__link {
    font-size: 14px;
  }
  .block-advantages {
    margin-right: 70px;
  }
  .services__title::after {
    right: 230px;
  }
  .services__title::before {
    left: 230px;
  }
  .wrap-services {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .rates__title::after {
    right: 230px;
  }
  .rates__title::before {
    left: 230px;
  }
  .rates__subject::after {
    right: 120px;
  }
  .rates__subject::before {
    left: 120px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 15px 0;
  }
  .header__item {
    margin-bottom: 20px;
  }
  .header__link {
    font-size: 18px;
  }
  .header__col {
    padding: 10px;
    float: right;
    width: 40px;
    display: block;
    margin: 0 180px 0 10px;
  }
  .toggler__icon {
    width: 40px;
    height: 40px;
    display: block;
    position: relative;
  }
  .toggler__icon--open .toggler__line {
    background-color: transparent;
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  .toggler__icon--open .toggler__line::before {
    -webkit-transform: rotate(45deg) translateY(20px);
            transform: rotate(45deg) translateY(20px);
  }
  .toggler__icon--open .toggler__line::after {
    -webkit-transform: rotate(-45deg) translateY(-20px);
            transform: rotate(-45deg) translateY(-20px);
  }
  .toggler__line {
    width: 40px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 19px;
    display: block;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
  .toggler__line::before,
  .toggler__line::after {
    content: "";
    width: 100%;
    height: 3px;
    background: #fff;
    position: absolute;
    top: -14px;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
  .toggler__line::after {
    top: auto;
    bottom: -14px;
  }
  .header__menu {
    position: absolute;
    top: 72px;
    left: 0;
    z-index: 100;
    background-color: rgba(79, 169, 41, 0.8);
    max-width: 340px;
    width: 100%;
    display: none;
  }
  .navigation--open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 0 12px 30px;
    width: 100%;
  }
  .advantages {
    padding: 0 0 50px;
  }
  .block-advantages {
    margin-right: 20px;
  }
  .block-advantages__icon {
    width: 120px;
    height: 120px;
  }
  .block-img__image {
    max-width: 400px;
  }
  .block-text {
    padding-top: 25px;
  }
  .block-text__desc {
    font-size: 20px;
  }
  .form-text {
    font-size: 45px;
    margin-right: 15px;
  }
  .services__title::after {
    right: 110px;
  }
  .services__title::before {
    left: 110px;
  }
  .rates__title::after {
    right: 110px;
  }
  .rates__title::before {
    left: 110px;
  }
  .rates__subject::after {
    right: 10px;
  }
  .rates__subject::before {
    left: 10px;
  }
  .footer__link {
    font-size: 12px;
  }
  .header__phone-number--foot {
    font-size: 12px;
  }
  .header__logo--foot img {
    max-width: 180px;
  }
  .footer__menu {
    max-width: 380px;
    margin: 0 10px;
  }
}

@media screen and (max-width: 425px) {
  .head {
    padding: 0 0 190px;
  }
  .header {
    margin-bottom: 75px;
    padding: 10px 0 45px;
    position: relative;
  }
  .header__phone {
    position: absolute;
    top: 58px;
  }
  .header__phone--foot {
    position: relative;
    top: 0;
  }
  .header__menu {
    top: 78px;
    text-align: center;
    padding: 30px 0;
  }
  .header__col {
    margin: 0 20px;
  }
  .head__title {
    font-size: 65px;
    line-height: 80px;
  }
  .grid-wrapper {
    position: relative;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    top: 0;
  }
  .advantages {
    padding: 0 0 20px;
  }
  .block-advantages {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .wrap-adv {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .block-text {
    text-align: center;
    margin-bottom: 20px;
  }
  .block-text__desc {
    font-size: 18px;
  }
  .form {
    padding: 10px 0 40px;
  }
  .wrap-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .form-text {
    margin: 0 0 20px;
    text-align: center;
  }
  .callback {
    margin: 0 auto;
  }
  .services {
    padding: 50px 0;
  }
  .services__title {
    margin-bottom: 20px;
  }
  .block-services {
    margin-bottom: 30px;
  }
  .block-services__image {
    margin-right: 10px;
    max-width: 62px;
  }
  .block-services__img {
    max-width: 62px;
  }
  .block-services__text {
    font-size: 20px;
  }
  .rates__desc {
    font-size: 30px;
  }
  .rates__text {
    margin-bottom: 50px;
  }
  .table td.table__caption {
    font-size: 16px;
  }
  .table td {
    font-size: 20px;
  }
  .table tr {
    height: 60px;
  }
  .wrap-footer-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tabs-nav li {
    font-size: 20px;
    padding: 12px 15px;
  }
  .footer-form {
    padding: 50px 0 30px;
  }
  .footer-form-block {
    text-align: center;
    margin-bottom: 30px;
  }
  .footer-form-block__line {
    margin: 0 auto 30px;
  }
  .footer-form-block__text {
    font-size: 30px;
  }
  .callback-form {
    padding: 20px 10px;
  }
  .callback-form__left {
    margin-right: 15px;
  }
  .callback-form__container {
    padding: 10px;
  }
  .callback-form__icon {
    display: block;
    width: 10px;
  }
  .callback-form__right textarea {
    padding: 10px;
    height: 88px;
  }
  .callback-form__submit {
    font-size: 24px;
    padding: 15px 0;
  }
  .callback-form__wrap {
    margin-top: 17px;
  }
  .footer {
    padding: 15px 0 20px;
  }
  .wrapper-foot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header--foot {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .wrap-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  .footer__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__item {
    margin-bottom: 10px;
  }
  .footer-text {
    max-width: 180px;
    text-align: center;
  }
  .footer-text__desc {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .footer-text__desc-color {
    font-size: 20px;
  }
  .header__phone-number--foot {
    font-size: 16px;
  }
  .header__logo--foot {
    margin-bottom: 10px;
  }
  .services__title::after {
    display: none;
  }
  .services__title::before {
    display: none;
  }
  .rates__title::after {
    display: none;
  }
  .rates__title::before {
    display: none;
  }
  .rates__subject::after {
    display: none;
  }
  .rates__subject::before {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .block-advantages__icon {
    width: 100px;
    height: 100px;
  }
  .block-img__image {
    max-width: 355px;
  }
  .header__col {
    margin: 0;
    padding: 10px 0;
  }
  .wrapper-foot {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .wrap-footer {
    margin-top: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-text {
    max-width: 350px;
  }
  .footer-text__desc-color {
    display: block;
    margin-bottom: 15px;
  }
  .callback-form__left {
    max-width: 150px;
  }
  .callback-form__field {
    max-width: 100px;
  }
  .callback-form__submit {
    font-size: 22px;
  }
  .services__btn {
    padding: 20px 0;
  }
}

@media screen and (max-width: 320px) {
  .header__logo img {
    max-width: 220px;
  }
  .head__title {
    font-size: 50px;
  }
  .head__btn {
    padding: 20px 0;
  }
  .grid-wrapper {
    padding: 0;
  }
  .table td {
    font-size: 16px;
  }
  .rates__subject {
    font-size: 45px;
  }
  .callback-form__submit {
    font-size: 18px;
  }
  .footer__item {
    text-align: center;
    margin-right: 5px;
  }
  .block-img__image {
    max-width: 300px;
  }
  .services__btn {
    padding: 20px 0;
  }
  .tabs {
    min-width: 270px;
  }
  .tabs-box > .active {
    max-width: 280px;
    margin: 0;
  }
  .tabs-box {
    min-width: 270px;
  }
  .tabs-nav li {
    margin: 0 5px 20px;
  }
  .callback-form__container {
    max-width: 125px;
  }
  .callback-form__field {
    max-width: 80px;
  }
}
/*# sourceMappingURL=main.css.map */